<!DOCTYPE html>
<html>
  <head>
    <title>RT Quotes: Rooster Teeth</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	<style>
		body 		{ padding-top:80px;
              background: red; /
              background: -webkit-linear-gradient(left top, red, black);
              background: -o-linear-gradient(bottom right, red, black);
              background: -moz-linear-gradient(bottom right, red, black);
              background: linear-gradient(to bottom right, red, black); }
	</style>
  </head>
  <body>
    <div class="container">
      <h1 class="center">
        <img class="channel-logo" src="http://vignette1.wikia.nocookie.net/grifball/images/2/2a/RoosterTeeth_logo.png/revision/latest?cb=20131024025855">
        <span class="rt-icon"></span>Rooster Teeth Quotes</h1>
      <div class="col-sm-6 col-sm-offset-3">




      <form action"/api/rt-quotes" method="post">

        <div class="form-group">
          <label>Quote</label>
          <input type="text" class="form-control" name="quote">
        </div>

        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name" required>
        </div>



        <div class="form-group">
          <label>Show</label>
          <input type="text" class="form-control" name="show">
        </div>

        <div class="form-group">
          <label>Video URL</label>
          <input type="url" class="form-control" name="videoURL" required>
        </div>

        <div class="form-group">
          <label>Time Stamp</label>
          <input type="text" class="form-control" name="timestamp" required>
        </div>

        <div class="form-group">
          <label>Keywords</label>
          <input type="text" name="keywords" class="form-control">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Submit Quote</button>
      </form>

      <hr>

      <p>Go <a href="/">Home</a>.</p>
      </div>

    </div>

  </body>
</html>
