<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="5;url=/" />
    <title>RT Quotes: Success</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <style>
      body {
        text-align: center;
        padding-top: 80px;
        /*background: url(http://i.imgur.com/Z3MmgTn.jpg) no-repeat center;*/
        background: url(http://www.walldevil.com/wallpapers/w08/rooster-teeth-red-vs-blue.jpg) no-repeat center;
        background-size: cover;
      }
      img {
        padding-top: 35px;
        padding-bottom: 30px;
        width: 300px;
        border-radius: 15px;
      }
      h1 {
        font-size: 5em;
        padding-bottom: 50px;

      }
    </style>
  </head>
  <body>

    <h1>Thank you</h1>

    <img src="https://media.giphy.com/media/5j5tV8MzbidNK/giphy.gif" alt="Joe the Cat" />

    <h4>Thank you for helping complete this archive for Rooster Teeth content!</h4>
    <h4>Check back soon to see what the community has created.</h4>
    <hr>
    <h4>Please wait as you will be redirected back to the main page.</h4>



  </body>
</html>
