body {
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: white;
}

.jumbotron {
  padding-left: 50px;
  padding-right: 50px;
}

ul {
  list-style: none;
}

.container{
position: relative;
}

h4 {
  color: white;
}

label {
  color: white;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;;
}

.channel-logo {
  width: 200px;
}

.cb-slideshow,

.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

/*.cb-slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}*/

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 30s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url("http://orig05.deviantart.net/a6b9/f/2015/109/2/8/neon_rooster_teeth_logo_by_coldemoon-d8q91d1.png")
}
.cb-slideshow li:nth-child(2) span {
    background-image: url("http://i.imgur.com/hgC1BCe.jpg");
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url("http://i.imgur.com/VkcukV2.png");
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/23/4f/03/234f031aa2c998baf7e1ffd8292f9dfa.jpg");
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url("http://i.imgur.com/wAzzfXl.png");
    animation-delay: 24s;
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
