body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: white;
}

h4 {
  color: white;
}

label {
  color: white;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;;
}

.channel-logo {
  width: 200px;
}
